<div class="col-md-2 bg-dark min-vh-100 sidebar">

    <div class="pt-4">

        <a href="/" class="sidebar-link">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>

        <a href="/learners/" class="sidebar-link">
            <i class="bi bi-people"></i>
            Learners
        </a>

        <a href="/exams/" class="sidebar-link">
            <i class="bi bi-journal-text"></i>
            Exams
        </a>

        <a href="/analytics/" class="sidebar-link">
            <i class="bi bi-bar-chart"></i>
            Analytics
        </a>

        <a href="/reportcards/" class="sidebar-link">
            <i class="bi bi-file-earmark-pdf"></i>
            Report Cards
        </a>

        <a href="/sms/" class="sidebar-link">
            <i class="bi bi-envelope"></i>
            Bulk SMS
        </a>

    </div>

</div>